/* Global Variables */
:root {
    --background-color-default: #5ac9f6;
    --border-color: #002043;
    --login-card-background: #ff4d4d;
    --registration-card-background: #5ac9f6;
    --form-element-background: rgba(0, 0, 0, 0.3);
    --form-element-placeholder-color: lightgrey;
    --button-background-color: white;
    --button-hover-background-color: lightgray;
    --post-background-color: white;
    --post-border-color: #dee2e6;
    --post-info-color: #6c757d;
    --badge-background-color: #fdc819;
    --badge-background-color-hover: #daac14;
    --badge-color: white;
    --primary-color: #002043;
    --primary-color-hover: #00162d;
    --image-area-margin: 20px;
    --profile-page-card-min-width: 600px;
    --profile-page-card-max-width: 1200px;
    --card-min-mobile-width: 350px;
    --card-max-mobile-width: 350px;
    --card-min-width: 400px;
    --card-max-width: 400px;
}

/* General Resets and Font Styles */
* {
    font-family: "Concert One", sans-serif;
    box-sizing: border-box;
}

.concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}

/* Body Styles */
body {
    background-color: var(--background-color-default);
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease-in-out;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Card Styles */
.card {
    border-radius: 50px;
    padding: 40px;
    min-width: var(--card-min-width);
    max-width: var(--card-max-width);
    border: 10px solid var(--border-color);
    transition: background-color 0.5s ease-in-out;
}

@media (max-width: 576px) {
    .card {
        min-width: var(--card-min-mobile-width);
        max-width: var(--card-max-mobile-width);
    }
}

.login-card {
    background: var(--login-card-background);
}

.registration-card {
    background: var(--registration-card-background);
}

.login-card, .registration-card {
    color: white;
}

/* Form Element Styles */
.form-element {
    background: var(--form-element-background);
    border: 2px solid transparent;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
}

.form-element::placeholder {
    color: var(--form-element-placeholder-color);
}

input:focus {
    box-shadow: none;
    outline: none;
    border-color: white;
}

label {
    font-weight: bold;
    font-size: 1.2rem;
}

/* Button Styles */
button {
    background-color: var(--button-background-color);
    color: black;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 1.2rem;
}

button:hover {
    background-color: var(--button-hover-background-color);
}

/* Image Area Styles */
.image-area {
    text-align: center;
    margin: var(--image-area-margin) 0;
}

.custom-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    min-width: 300px;
    max-width: 400px;
}

/* Header Styles */
header h1 {
    font-weight: bold;
    color: white;
}

/* Background Overrides */
.red-background {
    background-color: var(--login-card-background);
}

.blue-background {
    background-color: var(--registration-card-background);
}

.yellow-background {
    background-color: var(--badge-background-color);
}

.gradient-transition {
    background: linear-gradient(to bottom right, var(--login-card-background), #ff1a1a);
}

/* Utility Classes */
.no-scroll {
    overflow: hidden;
}

.hide-element {
    display: none;
}

/* Form Container Styles */
.form-container {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.form-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.form-card.slide-up {
    transform: translateY(-0%);
}

.form-card.slide-down {
    transform: translateY(110%);
}

/* Post Styles */
.post {
    margin-bottom: 15px;
    border: 1px solid var(--post-border-color);
    padding: 15px;
    border-radius: 10px;
    background-color: var(--post-background-color);
}

.post-text {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.post-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: var(--post-info-color);
}

/* Badge Styles */
.badge {
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--badge-background-color);
    color: var(--badge-color);
}

.bar-colors {
    background-color: var(--badge-background-color);
    color: var(--badge-color);
    padding: 5px 5%;
    padding-bottom: 1em;
    padding-top: 1em;
}

.bar-colors p {
    margin: 0;
    text-align: center;
}

/* Profile Card Styles */
.profile-card {
    border-radius: 15px;
    padding: 20px;
    border: 8px solid var(--border-color);
    transition: background-color 0.5s ease-in-out;
}

.profile-card .profile-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
}

.profile-card .card-title {
    font-size: 1.5rem;
}

.profile-card .card-text {
    font-size: 1rem;
}

.profile-card .btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.profile-card .btn-primary:hover {
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}

/* Profile Page Card Styles */
.profile-page-card {
    border-radius: 50px;
    padding: 20px;
    border: 8px solid var(--border-color);
    transition: background-color 0.5s ease-in-out;
    min-width: var(--profile-page-card-min-width);
    max-width: var(--profile-page-card-max-width);
}

@media (max-width: 576px) {
    .profile-page-card {
        min-width: var(--card-min-mobile-width);
        max-width: var(--card-max-mobile-width);
    }
}

.profile-page-card .card-body {
    padding: 0;
}

.profile-page-card .row {
    margin: 0;
}

/* Main Content Layout Adjustments */
.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

.main-container {
    padding-top: 20px;
    padding-bottom: 20px;
    flex-grow: 1;
}

.custom-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-pattern {
    background-image: url(imgs/Seamless-Pattern-Food.webp);
    background-repeat: repeat;
}

.sticky-footer {
    position: sticky;
    bottom: 0;
    width: 100%;
}

/* Logo and Icon Animations */
@keyframes jiggle {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    75% { transform: rotate(-5deg); }
}

.icon-img:hover {
    animation: jiggle 0.3s ease-in-out;
}

.fade-in {
    animation: fadeIn 1s ease-in-out forwards;
    opacity: 0;
}

.animate-logo-top {
    animation: moveTop 1s ease-in-out forwards;
}

.animate-logo-bottom {
    animation: moveBottom 1s ease-in-out forwards;
}

.logo {
    width: 70px;
    margin-right: 45px;
}

@keyframes moveTop {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10%); }
}

@keyframes moveBottom {
    0% { transform: translateY(0); }
    100% { transform: translateY(15%); }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Button Variants */
.yellow-button {
    color: #ffffff;
    background-color: var(--badge-background-color);
    border-color: var(--badge-background-color);
}

.yellow-button:hover {
    color: #fff;
    background-color: var(--badge-background-color-hover);
    border-color: var(--badge-background-color-hover);
}

.yellow-button:focus, .yellow-button.focus {
    color: #fff;
    background-color: var(--badge-background-color);
    border-color: var(--badge-background-color);
    box-shadow: 0 0 0 0.25rem rgba(253, 237, 13, 0.5);
}

.yellow-button:disabled, .yellow-button.disabled {
    background-color: var(--badge-background-color);
    border-color: var(--badge-background-color);
    opacity: 0.65;
}

.yellow-button:not(:disabled):not(.disabled):active, .yellow-button:not(:disabled):not(.disabled).active,
.show > .yellow-button.dropdown-toggle {
    background-color: var(--badge-background-color);
    border-color: var(--badge-background-color);
}

.yellow-button:not(:disabled):not(.disabled):active:focus, .yellow-button:not(:disabled):not(.disabled).active:focus,
.show > .yellow-button.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(253, 217, 13, 0.5);
}

.white-button {
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
}

.white-button:hover {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}

.white-button:focus, .white-button.focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

.white-button:disabled, .white-button.disabled {
    background-color: #ffffff;
    border-color: #ffffff;
    opacity: 0.65;
}

.white-button:not(:disabled):not(.disabled):active, .white-button:not(:disabled):not(.disabled).active,
.show > .white-button.dropdown-toggle {
    background-color: #d9d9d9;
    border-color: #d9d9d9;
}

.white-button:not(:disabled):not(.disabled):active:focus, .white-button:not(:disabled):not(.disabled).active:focus,
.show > .white-button.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

.blue-button {
    color: #ffffff;
    background-color: #5ac9f6;
    border-color: #5ac9f6;
}

.blue-button:hover {
    background-color: #4ab3e4;
    border-color: #4ab3e4;
}

.blue-button:focus, .blue-button.focus {
    box-shadow: 0 0 0 0.25rem rgba(90, 201, 246, 0.5);
}

.blue-button:disabled, .blue-button.disabled {
    opacity: 0.65;
}

.blue-button:not(:disabled):not(.disabled):active, .blue-button:not(:disabled):not(.disabled).active,
.show > .blue-button.dropdown-toggle {
    background-color: #4ab3e4;
    border-color: #4ab3e4;
}

.blue-button:not(:disabled):not(.disabled):active:focus, .blue-button:not(:disabled):not(.disabled).active:focus,
.show > .blue-button.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(90, 201, 246, 0.5);
}
